# Git
.git
.gitignore
.gitattributes

# Build files
target/
!target/*.jar
*.class

# Environment variables
.env
.env.local
*.env

# IDE specific files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# AWS CLI
aws/
awscliv2.zip

# Claude Code
.claude/
