option_settings:
  aws:elbv2:listener:80:
    Protocol: HTTP
    Rules: default
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:209759484743:certificate/YOUR_CERT_ID
  aws:elbv2:listenerrule:default:
    Priority: 1
    PathPatterns: /*
    Process: default